<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="pages/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- Inclusão da bibliotéca javascript jQuery -->
    <script src="pages/js/jquery-1.12.2.min.js"></script>
    
    <!-- Inclusão da bibliotéca para uso dos componentes bootstrap -->
    <script src="pages/js/bootstrap.min.js"></script>

	<nav class="navbar navbar-default">
		
		<div class="navbar-header">
		</div>
		
		<div class="container-fluid">			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"> {{'start' | translate}} </a>
			</div>
			
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'registers' | translate}}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="car.html">{{'car' | translate}}</a></li>
						</ul>
					</li>					
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{'language' | translate}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
							<li>
								<a href="#" role="button" ng-click="setCurrentLanguage('pt')" ><img width="30" height="20" src="pages/img/bandeira-brasil.png" alt="Português"> Português</a>
							</li>
							<li>
								<a href="#" role="button" ng-click="setCurrentLanguage('en')" ><img width="30" height="20" src="pages/img/bandeira-usa.png" alt="Inglês">Inglês</a>
							</li>
                        </ul>
                    </li>
                </ul>
				
			</div><!-- /.navbar-collapse -->
			
		</div><!-- /.container-fluid -->
	</nav>
	
</body>
</html>